.display_none{
    display: none;
}

::placeholder {
    color: rgb(29, 106, 38);
  }
  ::-webkit-inner-spin-button { display: none; }  
*{
    text-decoration: none;
    list-style-type: none;
    padding: 0;
    margin: 0;
    outline: none;
}
a{
    z-index: 50;
}

.main_section{
    min-height: 100%;
    display: grid;
    justify-items: center;
}
.without_underline{
    text-decoration: none;
}

body{
    max-width: 100%;
    min-height: 100vh;
    background: black;
    overflow-x: hidden;
    position: relative;
}

aside{
    position: fixed;
    list-style-type: none;
    height: 100%;
    width: 60px;
    display: grid;
    align-items: center;
    z-index: 0;
}
aside ul li{
    width: 65px;
    height: 60px;
    text-align: center;
    text-justify: center;
    background-color: rgb(65, 255, 87);
    border: 1px solid black;
    display: flex;
align-items: center;
justify-content: center;
transition: .7s;
}
aside ul li a{
    width: 100%;
    height: 100%;
    color: black;
    background-color: transparent;
    font-size: 40px;
transition: 0s;
display: flex;
align-items: center;
justify-content: center;

} 
aside ul li:hover{
    padding-left:18px;
    background: transparent;
    border: 1px solid rgb(65, 255, 87);
    border-left: none;
    

} 
aside ul li:hover a{
    color: rgb(65, 255, 87);
    background-color: transparent;

} 
.main_block{
    color: rgb(65, 255, 87);
    font-family: 'Odibee Sans', cursive !important;
    display: grid;
    min-height: 100vh;
    padding:  0 80px;
    text-align: center;
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-rows: 90% 10%;
    font-size: 40px;
    max-width: 1100px;
animation-duration: 2s;


}
.opacity_1{
animation-name: color_change;
animation-duration: 5s;
}


@keyframes color_change {
from { opacity: 0; }
to { opacity: 1; }
}

.main_block div{
    padding: 10px;
}
.main_block a{
    color: rgb(65, 255, 87);
    text-decoration: underline;
}
.main_block a:hover{
    text-decoration: none;
}


@media screen and (max-height: 900px) {
    #arrow{
    display: none !important;
}
.main_block {
    grid-template-rows: 1fr;
}
}
@media screen and (max-width: 1100px) {
    .main_block{
        font-size: 30px;
    }
}
@media screen and (max-width: 850px) {
    aside{
    position: absolute;
    width: 100%;
    justify-items: center;
    top:0;
    display: grid;
    height: 60px;
    align-items: start;

}


aside ul {
    display: grid;
    top:0;
    align-items: start;
    width: 100%;
    grid-template-columns:1fr 1fr 1fr 1fr 1fr 1fr;
}
aside ul li{
    top:0;
    width: 100%;
    height: 60px;
    text-align: center;
    background-color: rgb(65, 255, 87);
    border: 1px solid black;
    display: flex;
justify-content: center;
transition: 0;
}
aside ul li a{
    color: black;
    font-size: 40px;
transition: 0s;
transition: 0;

} 
aside ul li:hover{
    padding-left:0;
    background: black;
    border: 1px solid black;
    

} 
aside ul li:hover a{
    color: rgb(65, 255, 87);
} 
.main_block{
    padding: 0;
    padding-top: 30px;
    font-size: 25px;
}
}

@media screen and (max-width: 300px) {

    aside{
        display: none;
    }
}
#c{
        position: fixed;
        z-index: -4;
    }



    .projects_section{
        font-family: 'Odibee Sans', cursive !important;
        color: rgb(0, 255, 0);
    }
    .logo_proj{
        text-align: center;
        font-size: 40px;
        color: rgb(65, 255, 87);
    }
    .projects li a{
        color: black;
        font-size: 30px;
    }
    .project_date{
        font-size: 20px;
    }
    .project{
        border: 1px solid rgb(65, 255, 87);
        background: rgb(65, 255, 87);
        margin: 10px;
        padding: 10px;
        width: 350px;
        transition: .5s;
    }

    .project a{
        display: grid;
        min-height: 205px;

        grid-template-rows: 40px 40px 1fr 30px;
    }
    .project_date{
        align-self: end;
    }
    .project:hover{
        background: transparent;

    }
    .project:hover  a{
       color: rgb(65, 255, 87) !important;
    }
    .project_technologies{
        display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    }
    .project:hover .project_technologies li{
        background: rgb(65, 255, 87);
        color: black;
        margin: 4px;
        padding: 2px 8px;
    }
    .project_technologies li{
        background: black;
        color: rgb(65, 255, 87);
        margin: 4px;
        padding: 2px 8px;
    }

    .project:hover .project_technologies li:hover{
        background: transparent;
        color: rgb(65, 255, 87);
        margin: 4px;
        padding: 2px 8px;
        
    }
    .projects {
    padding: 70px 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  
  @media screen and (max-width: 700px) {
    .projects {
        padding: 40px 20px;

  }
  #arrow{
      display: none;
  }
}
#arrow:hover{
    color: rgb(23, 92, 31);
    cursor: pointer;
}




/* admin */

.form_entry{
    text-align: center;
    min-height: 100vh;
    width: 100%;
    display: grid;
    justify-items: center;
    align-items: center;
}
.form_entry form{
    display: grid;
    font-family: 'Odibee Sans', cursive !important;
    color: rgb(65, 255, 87);
    font-size: 35px;
    row-gap: 15px;
}

.form_entry form button{
    background-color: rgb(65, 255, 87);
    border: 1px solid rgb(65, 255, 87);
    font-family: 'Odibee Sans', cursive !important;

    color: black;
    font-size: 30px;
    padding: 7px 0 8px;
}

.form_entry form button:hover{
    background-color: transparent;

    color: rgb(65, 255, 87);

}

.form_entry form input{
    border: 1px solid rgb(65, 255, 87);
    padding: 7px;
    font-family: 'Odibee Sans', cursive !important;
    color: rgb(65, 255, 87);
    background-color: transparent !important;
    background: transparent !important;

    font-size: 35px;

}
.form_entry form a{
    color: rgb(65, 255,87) ;
    text-align: start;
    font-size: 24px;
    padding-left: 10px;
}



.admin_tabel{
    margin-top: 30px;
    display: grid;
    background-color: rgb(65, 255, 87, 0.75);
    font-size: 25px;
}

.admin_description-exact div:hover{

    background-color: rgb(65, 255, 87, 0.85);
}

.admin_description-exact div.active_sorting{
    background-color: rgb(65, 255, 87, 0.85);
}

.admin_description-exact div i {
    padding-left:10px ;
}
.admin_description {
    display: grid;

}
.admin_description-exact{
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    border: 1px solid black;
    height: 55px;
    
}


.admin_description-exact div {
    min-width: 150px;
    display: flex;
    padding: 0 5px;
    align-items: center;
    box-sizing: border-box;
    border-left:1px solid black ;
    border-right:1px solid black ;
}
.admin_description input{
    box-sizing: border-box;
    background: transparent;
    background-color: black;
    border: 1px solid black;
font-family: 'Odibee Sans', cursive !important;
font-size: 25px;
padding: 4px;
color: rgb(65, 255, 87);
}
.panel_row .word_in_table{
    box-sizing: border-box;
    text-indent: 6px;
    border-left:1px solid black ;
    border-right:1px solid black ;
    overflow-y: auto;
    display: flex;
    align-items: center;
    white-space: nowrap;
}
.panel_row .word_in_table:hover{

    background-color: rgb(65, 255, 87, 0.85);
}

.panel_row{
    border: 1px solid black;
    box-sizing: border-box;
    height: 55px;
}

::-webkit-scrollbar-thumb {
background: rgb(0, 141, 16) !important; 
border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
background: rgb(14, 80, 22) !important; 
border-radius: 10px;
}
::-webkit-scrollbar {
height: 5px;
width: 5px;
}
.panel_row{
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.btn_action{
    display: grid;
    justify-items: center;
    align-items: center;
    border-left:1px solid black ;
    border-right:1px solid black ;
    box-sizing: border-box;
}
@media screen and (max-width: 1320px) {

    .admin_description-exact{
        box-sizing: border-box;
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
    border: 1px solid black;
    height:100px;
    
}

.admin_description-exact div {
    min-width: 150px;
    box-sizing: border-box;
    border:1px solid black ;
}
.btn_action{
    box-sizing: border-box;
    border:1px solid black ;
}
.panel_row .word_in_table{
    box-sizing: border-box;
    border:1px solid black ;
}
    .panel_row{
        height: 100px;
    grid-template-columns:1fr 1fr 1fr 1fr;
    }
}

@media screen and (max-width: 680px) {

.admin_description-exact{
display: grid;
grid-template-columns:1fr 1fr ;
border: 1px solid black;
height:200px;
box-sizing: border-box;
}

.admin_description-exact div {
min-width: 150px;
box-sizing: border-box;
border:1px solid black ;
}
.btn_action{
    box-sizing: border-box;
border:1px solid black ;
}
.panel_row .word_in_table{
    text-indent: 6px;
border:1px solid black ;
box-sizing: border-box;
}
.panel_row{
height: 200px;
grid-template-columns:1fr 1fr;
}
}

.btn_action button{
    background: transparent;
    color: black;
    font-family: 'Odibee Sans', cursive !important;
font-size: 25px;
padding:2px  8px;
border: 2px solid black;
box-sizing: border-box;
}
.btn_action button:hover{
    color: rgb(65, 255, 87);
    border-color: black;
    background: black;
    cursor: pointer;
}
.btns_from_action{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    justify-items: center;
}

.admin_section{
    display: grid;
    font-family: 'Odibee Sans', cursive !important;
}
.link_back{
    padding: 30px 50px;
    display: grid;
    grid-template-columns: 1fr 4fr;
    align-items: center;
}


.link_back a {
    font-size: 30px;
    color: rgb(65, 255, 87);
}

.link_back a i{
    font-size: 20px;
    color: rgb(65, 255, 87);
}
.btns_header_admin{
    justify-self: end;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap:20px
}
.new_project {
    font-family: 'Odibee Sans', cursive !important;
    padding: 7px  30px;
    font-size: 30px;
    border: 1px solid rgb(65, 255, 87);
    box-sizing: border-box;
    color: rgb(65, 255, 87);
    background: transparent;
}
.new_project:hover {
    background: rgb(65, 255, 87);
    color: black;
    cursor: pointer;
}
.admin_section form{
    display: grid;
    justify-items: center;
    color: rgb(65, 255, 87);
    row-gap: 15px;
}
.admin_section form .form_logo{
    font-size: 40px;

}

@media screen and (max-width:940px) {
    .link_back{
        padding: 30px 50px;
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
    }
    .btns_header_admin{
        justify-self: center;
    }
    .link_back a {
        text-align: center;
        margin: 10px 0 30px;
    }
}

@media screen and (max-width:740px) {
    .btns_header_admin{
        grid-template-columns: 1fr;
    }
}
.admin_section form input{
    font-family: 'Odibee Sans', cursive !important;

    font-size: 25px;
    width: 90%;
    max-width: 700px;
    background: transparent;
    box-sizing: border-box;
    border: 1px solid rgb(65, 255, 87);
    box-sizing: border-box;
    color: rgb(65, 255, 87);
    padding: 7px;
}
input[type="checkbox"] {
display: none;
}

input:checked[type="checkbox"]  + label {
color: black;
background: rgb(65, 255, 87);
}

.admin_section form button{
font-family: 'Odibee Sans', cursive !important;
background: transparent;
color: rgb(65, 255, 87);
border: 1px solid rgb(65, 255, 87);
box-sizing: border-box;
padding: 7px;
width: 90%;
max-width: 450px;
font-size: 30px;
}
.admin_section form button:hover{
background: rgb(65, 255, 87);
    color: black;
    cursor: pointer;
}
.checkbox{
font-size: 26px;
border: 1px solid rgb(65, 255, 87);
box-sizing: border-box;
padding: 2px 15px;
cursor: pointer;
}

.checkbox:hover{
background: rgb(65, 255, 87);
color: black;
}

.ul_from_form{
background: transparent;
display: flex;
align-items: center;
padding: 10px 0;
justify-content: center;
flex-wrap: wrap;
max-width: 700px;
}
.ul_from_form li {
margin: 6px 3px;
}

.error {
    color: rgb(65, 255, 87);
    font-family: 'Odibee Sans', cursive !important;
    text-align: center;
    font-size: 25px;
    padding: 10px;
}